<header class="border-bottom border-3 mb-5 sticky-top bg-body">
    <nav class="navbar navbar-expand-lg navbar-light py-3">
        <div class="container flex-nowrap gap-7">
            <div class="d-flex align-items-center flex-shrink-1">
                <a class="navbar-brand me-7 me-md-12 py-0" href="index.html">
                    <h1 class="d-flex align-items-center">
                        <img src="../assets/images/logo.png" alt="logo" class="me-0 d-md-none" width="40" height="40">
                        <img src="../assets/images/Logo.svg" alt="logo" class="me-md-4 d-none d-md-block">
                    </h1>
                </a>
                <form class="navbar__serach">
                    <input class="form-control noto-tc-sans border border-2 py-2 py-md-4 px-3 px-md-6" type="search"
                        placeholder="探索活動" aria-label="Search">
                    <a href="#" type="submit" class="btn btn-primary py-2 d-flex align-items-center">
                        <i class="icofont-search-1"></i>
                    </a>
                </form>
            </div>
            <button class="navbar-toggler border border-1 rounded-1" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarContent">
            <div class="container">
                <ul class="navbar-nav gap-lg-6 pt-3 pt-lg-0 mt-3 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link fs-6" aria-current="page" href="#">
                            <i class="icofont-ui-file me-1"></i>REGISTER
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-6" href="login.html">
                            <i class="icofont-ui-user me-1"></i>LOGIN
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>