<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>會員登入｜活動訂票網</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <main class="vh-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4">
            <div class="text-center mt-7 mb-5">
              <img src="../assets/images/sparkler.png" alt="sparkler image" width="32" height="32">
            </div>
            <h2 class="fs-4 text-center noto-tc-serif fw-bold">會員登入</h2>
            <form>
              <div class="mb-5">
                <label for="InputEmail" class="noto-tc-sans">帳號</label>
                <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp"
                  placeholder="請輸入帳號">
              </div>
              <div class="mb-5">
                <label for="InputPassword" class="noto-tc-sans">密碼</label>
                <input type="password" class="form-control" id="InputPassword" placeholder="請輸入密碼">
              </div>
              <button type="submit" class="btn btn-primary d-block w-100 mt-7"><span class="me-1">登入</span>>></button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>